body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("../image_bacground/logn.jpg");
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0,0.10);
    backdrop-filter:saturate(180%) blur(10px);
    width: 400px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fefefe;
}

input[type="email"],
input[type="password"],
select,
button {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

.select-option {
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    color: #007bff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
