body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("../image_bacground/logn.jpg"); /* Replace with your image */
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0); /* Adjust the opacity here */
    padding: 40px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0,0.10);
    backdrop-filter:saturate(180%) blur(5px);
    width: 400px;
   
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #eee4e4;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
button,
input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity here */
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4'%3E%3Cpath fill='%23000000' d='M4 4L0 0h8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group input[type="password"] {
    width: calc(50% - 10px);
}

.input-group input[type="password"]::placeholder {
    color: #999;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
    display: none;
}

.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    color: #007bff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
.filee{
size: 10px;
}