/* theaterAdminUpdate.css */

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.admin-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

input[type="text"],
input[type="time"],
input[type="number"],
select {
    width: 200px;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select[multiple] {
    height: 100px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.submit-btn {
    background-color: #008CBA; /* Blue */
}

.back-btn {
    background-color: #f44336; /* Red */
}
